# Log Coverage

In [1]:
import sys
sys.path.insert(1, '../')

from src.io import DOM_DEC, INT_DEC, PER, REQ, read_log, to_dataframe                 
from src.insights import *

## Load Log

In [2]:
log = read_log(PER)                                                              
df_log = to_dataframe(log)

parsing log, completed traces :: 100%|██████████| 6426/6426 [00:15<00:00, 413.45it/s]

### Get all attributes
Each attribute in the log is one column in the dataframe.

In [3]:
clms = get_columns(df_log)

In [4]:
# print(clms)
print('The log contains %s attributes.' %len(clms))

The log contains 169 attributes.

### Calculate the coverage of the Log

In [6]:
reports = []                                                      

for idx, clm in enumerate(clms):                                                 
    report = describe_clm(df_log, clm)                                           
    reports.append(report)                                                                                                    

#df_report.to_csv('report.csv')

#### Convert back to dataframe

In [7]:
df_report = pd.DataFrame(reports)                                                
df_report.sort_values(by=['coverage'], inplace=True, ascending=False)

In [8]:
df_report

                         column  elements  unique_elements    NaN  coverage
0                    transition     81092                1      0   100.000
12         (case)_TotalDeclared     81092             5522      0   100.000
1                     timestamp     81092            59148      0   100.000
23                      creator     81092                1      0   100.000
22                variant-index     81092             1402      0   100.000
..                          ...       ...              ...    ...       ...
90             (case)_dec_id_13     81092                2  81017     0.092
82  (case)_DeclarationNumber_13     81092                2  81017     0.092
81  (case)_DeclarationNumber_12     81092                2  81017     0.092
87             (case)_dec_id_10     81092                2  81017     0.092
89             (case)_dec_id_12     81092                2  81017     0.092

[169 rows x 5 columns]

Which attributes have a data coverage over 50%?

In [9]:
sub = df_report[df_report['coverage'].apply(lambda x: x > 49)]
sub

                         column  elements  unique_elements    NaN  coverage
0                    transition     81092                1      0   100.000
12         (case)_TotalDeclared     81092             5522      0   100.000
1                     timestamp     81092            59148      0   100.000
23                      creator     81092                1      0   100.000
22                variant-index     81092             1402      0   100.000
21                      variant     81092             1402      0   100.000
20                         name     81092             6426      0   100.000
19                         role     81092                8      0   100.000
17                           id     81092            81092      0   100.000
16                         name     81092               49      0   100.000
15  (case)_travel_permit_number     81092             6275      0   100.000
14                    (case)_id     81092             6426      0   100.000
18                     resource     81092                2      0   100.000
10       (case)_RequestedBudget     81092             5779      0   100.000
8          (case)_ProjectNumber     81092              854      0   100.000
7        (case)_OverspentAmount     81092             6092      0   100.000
6              (case)_Overspent     81092                2      0   100.000
5   (case)_OrganizationalEntity     81092               29      0   100.000
3           (case)_BudgetNumber     81092              218      0   100.000
11            (case)_TaskNumber     81092                6      0   100.000
2         (case)_ActivityNumber     81092              158      0   100.000
9      (case)_RequestedAmount_0     81092             3081   6197    92.358
13              (case)_dec_id_0     81092             4382  29524    63.592
4    (case)_DeclarationNumber_0     81092             4311  29524    63.592

In [10]:
print('The result containts %s elements.' %len(sub))

The result containts 24 elements.